@import 'https://fonts.googleapis.com/css?family=Black+Ops+One';

* {
   margin: 0;
   padding: 0;
}
body {
   background: #333;
   text-align: center;
   font-family:'Black Ops One', 'Arial Black', sans-serif;
}
#cvs {
   border: 1px solid white;
   margin: 0 auto;
   margin-top: 50px;
}
ul{
   position: absolute;
   display: block;
   list-style: none;
   z-index: 55;
}
li { margin-bottom: 20px; }
li:last-of-type { margin: 0; }
button {
   -webkit-transition: all 0.3s;
   -moz-transition: all 0.3s;
   -o-transition: all 0.3s;
   transition: all 0.33s;

   background: rgb(87, 108, 31);
   border: none;
   outline: none;
   font-size: 1.5rem;
   font-family:'Black Ops One', 'Arial Black', sans-serif;
   width: 300px;
   height: 60px;
   border-bottom: 4px solid rgb(66, 82, 23);
}
button:hover {
   background: rgb(114, 142, 41);
   color: #fff;
   cursor: pointer;
   border-bottom: 4px solid rgb(87, 108, 31);
}
#viewport {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
#title {
   margin-top: 20px;
   font-size: 5rem;
}
#keyCodes {
   margin: 0 auto;
}
